@using System.Globalization
@using KadoshWebsite.Infrastructure
@model PaginatedListViewModel<ProductViewModel>
@{
    ViewData["Title"] = "Cadastro de produtos";
}

<!-- START: Breadcrumbs-->
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 me-auto"><h4 class="mb-0">@ViewData["Title"]</h4> <p>Sistema de administração da Kadosh Modas</p></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <li class="breadcrumb-item"><a href="#">Produtos</a></li>
                <li class="breadcrumb-item active">Listar</li>
            </ol>
        </div>
    </div>
</div>
<!-- END: Breadcrumbs-->

<div class="col-md-12 mb-3">
    <div class="card">
        <div class="card-header">
            <i class="uil uil-box icon-size-1-5"></i> Produtos cadastrados no sistema
        </div>
        <div class="card-body row">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-3">
                        <a class="btn btn-success  float-end" asp-action="Create" title="Cadastrar um novo produto no sistema">Novo produto <i class="uil uil-plus"></i></a>
                    </div>
                    <div class="col-md-12">
                        @{
                            await Html.RenderPartialAsync("_CheckForAlert");
                        }
                        <table class="table table-bordered table-striped table-hover table-responsive">
                            <caption>Listando @Model.Items.Count() produtos de um total de @Model.TotalItemsCount</caption>
                            <thead>
                                <tr class="table-primary">
                                    <th>Produto</th>
                                    <th>Preço</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model is null || !Model.Items.Any())
                                {
                                    <tr>
                                        <td colspan="3" class="text-center">Nenhum produto cadastrado</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Price.ToString("C",FormatProviderManager.CultureInfo)</td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary text-white" title="Editar produto @item.Name">
                                                    <i class="uil uil-edit-alt"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white" title="Apagar produto @item.Name">
                                                    <i class="uil uil-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("_Pagination", new ViewDataDictionary(ViewData) { { "Controller", "Product"}, { "Action", "Index" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>