@model ListCustomerPostingsComponentViewModel
@using KadoshDomain.ExtensionMethods
@using KadoshShared.ExtensionMethods
@using System.Globalization
@using KadoshWebsite.Infrastructure

<div class="col-md-12 mb-3">
    <div class="card">
        <div class="card-header">
            <i class="uil uil-invoice icon-size-1-5"></i> Lançamentos realizados
        </div>
        <div class="card-body row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        @{
                            await Html.RenderPartialAsync("_CheckForAlert");
                        }
                        <div id="loadingPostingSpinner">
                            @{ await Html.RenderPartialAsync("_LoadingSpinner"); }
                        </div>
                        <div id="customerPostingsList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let getCustomerPostingsByCustomerPaginatedUrl = '@Url.Action("GetCustomerPostingsByCustomerPaginated", "CustomerPostings")';
    let getCustomerPostingsBySalePaginatedUrl = '@Url.Action("GetCustomerPostingsBySalePaginated", "CustomerPostings")';
    let getCustomerPostingsByStoreAndDatePaginatedUrl = '@Url.Action("GetCustomerPostingsByStoreAndDatePaginated", "CustomerPostings")';
    let filterPostingsByCustumerId = '@Model.FilterByCustumerId';
    let filterPostingsBySaleId = '@Model.FilterBySaleId';
    let filterPostingsByDate = '@Model.FilterByDate';
    let filterPostingsByStore = '@Model.FilterByStore';
    let getTotal = '@Model.ShowTotal';

    window.addEventListener("load", function() {
        if(typeof RenderPaginatedCustomerPostings != "function")
            console.error('The script "customerPostingList.js" is missing on the parent View.');
        else
            RenderPaginatedCustomerPostings(1);
    });
</script>