@using KadoshDomain.Enums
@using KadoshWebsite.Infrastructure
@using KadoshWebsite.ViewComponents
@model CustomerViewModel
@{
    ViewData["Title"] = $"Ficha do cliente {@Model.Name}";
}

<!-- START: Breadcrumbs-->
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 me-auto"><h4 class="mb-0">@ViewData["Title"]</h4> <p>Sistema de administração da Kadosh Modas</p></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Customer" asp-action="Index">Clientes</a></li>
                <li class="breadcrumb-item active">@Model.Name</li>
            </ol>
        </div>
    </div>
</div>
<!-- END: Breadcrumbs-->

<div class="col-md-12 mb-3">
    <div class="card">
        <div class="card-header">
            <i class="uil uil-user icon-size-1-5"></i> Ficha do cliente
        </div>
        <div class="card-body row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="customerTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="sales-tab" data-bs-toggle="tab" data-bs-target="#sales" type="button" role="tab" aria-controls="sales" aria-selected="true">Compras</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="postings-tab" data-bs-toggle="tab" data-bs-target="#postings" type="button" role="tab" aria-controls="postings" aria-selected="false">Lançamentos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="app-login-tab" data-bs-toggle="tab" data-bs-target="#appLogin" type="button" role="tab" aria-controls="appLogin" aria-selected="false">Acesso ao APP Kadosh</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="merge-customer-tab" data-bs-toggle="tab" data-bs-target="#mergeCustomer" type="button" role="tab" aria-controls="mergeCustomer" aria-selected="false">Mesclar com outros clientes</button>
                    </li>
                </ul>
                <div class="tab-content" id="customerTabsContent">
                    <div class="tab-pane fade show active p-3" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                        <div class="card outline-badge-primary mb-3">
                            <div class="card-content">
                                <div class="card-body p-4">
                                    <div class="d-md-flex">
                                        <div class="my-auto">
                                            <i class="uil uil-bill icon-size-1-5"></i>
                                        </div>
                                        <div class="content px-md-3 my-3 my-md-0">
                                            <span class="mb-0 font-w-600 h5">Saldo devedor do cliente: @Model.TotalDebt.ToString("C", FormatProviderManager.CultureInfo)</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Consulte os lançamentos do cliente para saber os detalhes do saldo.</p>

                                        </div>
                                        <div class="my-auto ms-auto">
                                            <button class="btn btn-outline-primary font-w-600 my-auto text-nowrap sweet-4" onclick="InformCustomerPayment(@Model.Id)" title="Informar pagamento na ficha do cliente">
                                                <i class="uil uil-dollar-alt icon-size-1-5"></i> Informar pagamento
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @await Component.InvokeAsync(nameof(ListSalesViewComponent).Replace("ViewComponent", ""), new { filterByCustumerId = Model.Id })
                    </div>
                    <div class="tab-pane fade p-3" id="postings" role="tabpanel" aria-labelledby="postings-tab">
                        @await Component.InvokeAsync(nameof(ListCustomerPostingsViewComponent).Replace("ViewComponent", ""), new { filterByCustumerId = Model.Id })
                    </div>
                    <div class="tab-pane fade p-3" id="appLogin" role="tabpanel" aria-labelledby="postings-tab">
                        <div class="card outline-badge-primary mb-3">
                            <div class="card-content">
                                <div class="card-body p-4">
                                    <div class="d-md-flex">
                                        <div class="my-auto">
                                            <i class="uil uil-mobile-vibrate icon-size-1-5"></i>
                                        </div>
                                        <div class="content px-md-3 my-3 my-md-0">
                                            <span class="mb-0 font-w-600 h5">ID de primeiro acesso: @Model.Id.Value.ToString().PadLeft(6, '0')</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Informe o ID de primeiro acesso ao cliente para possibilitar o uso do APP Kadosh.</p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="mergeCustomer" role="tabpanel" aria-labelledby="merge-customer-tab">
                        <div class="card outline-badge-primary mb-3">
                            <div class="card-content">
                                <div class="card-body p-4">
                                    <div class="d-md-flex">
                                        <div class="my-auto">
                                            <i class="uil uil-files-landscapes-alt icon-size-1-5"></i>
                                        </div>
                                        <div class="content px-md-3 my-3 my-md-0">
                                            <span class="mb-0 font-w-600 h5">Mesclar ficha com outros clientes</span><br>
                                            <p class="mb-0 font-w-500 tx-s-12">Você pode mesclar a ficha do cliente @Model.Name com outros clientes. Fazer isso vai mover todas as compras e lançamentos para esta ficha e desativar os clientes que foram mesclados.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-success" title="Buscar cliente" data-bs-toggle="modal" data-bs-target="#mergeCustomerModal"><i class="uil uil-plus"></i> Buscar cliente para mesclar</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-5">
                                <table class="table table-responsive" id="customerMergeTable">
                                    <caption>Clientes selecionados para mesclar</caption>
                                    <thead>
                                        <tr class="table-primary">
                                            <th scope="col">ID</th>
                                            <th>Cliente</th>
                                            <th>Dívida do cliente</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="4" class="text-center">Nenhum cliente selecionado</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-info" id="mergeCustomerButton" title="Mesclar ficha" onclick="MergeCustomer();"><i class="uil uil-users-alt icon-size-1-5"></i> Mesclar fichas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Merge Customer Modal -->
<div class="modal fade" id="mergeCustomerModal" tabindex="-1" aria-labelledby="mergeCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Buscar produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            @await Component.InvokeAsync(nameof(CustomerSelectViewComponent).Replace("ViewComponent", ""))
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnDismissMergeCustomerModal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="AddSelectedCustomer()">Selecionar cliente</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        let informPaymentUrl = '@Url.Action("InformPayment", "Customer")';
        let mergeCustomersUrl = '@Url.Action("MergeCustomers", "Customer")';
        let currentCustomerId = '@Model.Id';
    </script>
    <script src="~/js/saleList.js"></script>
    <script src="~/js/customerPostingList.js"></script>
    <script src="~/lib/jquery-maskmoney/jquery.maskMoney.min.js"></script>
    <script src="~/js/customerDetailsView.js"></script>
    <script src="~/js/customerSelectTable.js"></script>
}