@using KadoshDomain.ExtensionMethods
@using KadoshShared.ExtensionMethods
@using KadoshWebsite.Infrastructure
@model PaginatedCustomerPostingsViewModel

<table class="table table-bordered table-striped table-hover table-responsive">
    <caption>Listando @Model.Items.Count() lançamentos de um total de @Model.TotalItemsCount</caption>
    <thead>
        <tr class="table-primary">
            <th>Venda</th>
            <th>Data do lançamento</th>
            <th>Valor</th>
            <th>Tipo de Lançamento</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || !Model.Items.Any())
        {
            <tr>
                <td colspan="4" class="text-center">Nenhum lançamento</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.SaleId</td>
                    <td>@TimeZoneInfo.ConvertTimeFromUtc(item.PostingDate, FormatProviderManager.TimeZone).ToString(FormatProviderManager.DateTimeFormat)</td>
                    <td>@item.Value.ToString("C", FormatProviderManager.CultureInfo)</td>
                    <td>
                        @if (item.PostingType.IsCreditType())
                        {
                            <span class="badge outline-badge-primary">@item.PostingType.ToDescription()</span>
                        }
                        else
                        {
                            <span class="badge outline-badge-danger">@item.PostingType.ToDescription()</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model is not null && Model.Items.Any())
{
    @Html.Partial("_PaginationAsync", new ViewDataDictionary(ViewData) { { "PaginationJSMethod", "RenderPaginatedCustomerPostings"} })
}

@if (Model.ShowTotal)
{
    <div class="row">
        <div class="col-md-6">
            <div class="card outline-badge-success mb-3">
                <div class="card-content align-self-center">
                    <div class="card-body p-4">
                        <div class="d-md-flex">
                            <div class="content px-md-3 my-3 my-md-0 ">
                                <p class="text-center h5">
                                    Entrada
                                </p>

                                <span class="mb-0 font-w-600 h1" title="Lançamentos de entrada">
                                    @Model.TotalCredit.ToString("C", FormatProviderManager.CultureInfo)
                                </span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card outline-badge-danger mb-3">
                <div class="card-content align-self-center">
                    <div class="card-body p-4">
                        <div class="d-md-flex">
                            <div class="content px-md-3 my-3 my-md-0 ">
                                <p class="text-center h5">
                                    Saída
                                </p>

                                <span class="mb-0 font-w-600 h1" title="Lançamentos de saída">
                                    @Model.TotalDebit.ToString("C", FormatProviderManager.CultureInfo)
                                </span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}