<div class="card border-bottom-0">
    <div class="card-content border-bottom border-@ViewData["BootstrapColorClass"] border-w-5">
        <div class="card-body p-4">
            <div id="@ViewData["LoadingSpinnerId"]">
                @{
                    await Html.RenderPartialAsync("_LoadingSpinner");
                }
            </div>
            <div class="d-flex">
                <div class="circle-50 outline-badge-@ViewData["BootstrapColorClass"]"> <span class="cf card-liner-icon cf-xlm mt-2"><i class="@ViewData["IconClass"] icon-size-1-5"></i></span></div>
                <div class="media-body align-self-center ps-3">
                    <span class="mb-0 h6 font-w-600">@ViewData["CardTitle"]</span><br>
                    <p class="mb-0 font-w-500 h6">
                        <span id="@ViewData["ElementInfoId"]"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", function() {
        if(typeof LoadInfoToSingleInfoCard != "function")
            console.error('The script "singleInfoCard.js" is missing on the parent View.');
        else
            LoadInfoToSingleInfoCard(
                '@Url.Action(ViewData["ActionToGetInfo"].ToString(), ViewData["ControllerToGetInfo"].ToString())', 
                @ViewData["ElementInfoId"].ToString(), 
                @ViewData["LoadingSpinnerId"].ToString()
            );
    });
</script>